
body{
    background-color:#034f84;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.left{
    text-align: left;
}

.center{
    text-align: center;
}
li{
    float: left;
    
}

.blogs{
    float: middle;
}
li a{
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    
}

a{
    Color:white;
    background-color: rgb(209, 73, 10);
    border-style: solid;
    overflow: hidden;
}

a:hover{
    color: #034f84;
}


h1{
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    width: 100%;
    background-color: rgb(209, 73, 10);
    z-index: 10;
    border-style: solid;
    border-color: white;
    color: white;
    text-align: center;
    border-width: 5px;
}

h2{
    color:  rgb(209, 73, 10);
}

.webhost{
    color:  rgb(209, 73, 10);
    border-style: solid;
    border-color:  rgb(209, 73, 10);
    border-width: 5px; 
}

.luke{
    width: 50%;
    height: 215px;
    border: 5px;
    border-style: solid;
    border-color: rgb(209, 73, 10);
}

.link:hover{
    color: #034f84;
}
img {
    width: 33.33%;
    height: 215px;
    border: 5px;
    border-style: solid ;
    border-color: rgb(209, 73, 10);
}
.size{
    font-size: 10px;
}






